/*
 *= require vendor/bootstrap
 *= require vendor/flexslider
 *= require vendor/main
 *= require vendor/responsive
 *= require vendor/preset
 *= require vendor/select2
 *= require vendor/select2-bootstrap
 */

div.progress.poll-progress span
{
  margin-left: 5px;
  margin-right: 5px;
  white-space: nowrap;
}

div.progress.poll-progress.selected span
{
    color: #041EDE;
}

div.poll-progress
{
	height: 27px;
}

.progress.poll-progress.selected {
	background-color: rgb(255, 239, 131);
}

.progress.poll-progress:hover {
	cursor: pointer;
}

.selected .progress-bar.progress-bar-info {
	background-color: rgb(255, 194, 0);
}

.poll-progress span 
{
	font-size: 18px;
	font-weight: bold;
	vertical-align: middle;
	color: #333;
}

 .mediap .row 
 { 
	margin-bottom: 10px;
 }
 
 .tarsszerv .row .col-md-3,
 .tarsszerv .row .col-md-6,
 .tarsszerv .row .col-sm-6, 
 .tarsszerv .row .col-xs-12
{
  margin-bottom: 8px !important;
}

 .mediap .row .col-md-4,
 .mediap .row .col-sm-6, 
 .mediap .row .col-xs-12 
{
  margin-bottom: 8px !important;
}
 .tarsszerv .row .col-xs-12 a,
 .tarsszerv .row .col-xs-12 img,
 .mediap .row .col-xs-12 a,
 .mediap .row .col-xs-12 img
 {
  display: block;
 }

 .tarsszerv .row .col-xs-12 a img,
 .tarsszerv .row .col-xs-12 img,
 .mediap .row .col-xs-12 a img,
 .mediap .row .col-xs-12 img
 {
  margin-left: auto;
  margin-right: auto;
 }

 .szerv, .tarsszerv 
 { 
  margin-bottom: 15px;
 }

 .partner .col-md-4 img, 
 .partner .col-sm-6 img, 
 .partner .col-xs-12 img,
 .partner .col-md-6 img,
 .partner .col-md-4 img a, 
 .partner .col-sm-6 img a, 
 .partner .col-xs-12 img a,
 .partner .col-md-6 img a
 {
  display: block;
  margin-left: auto;
  margin-right: auto;
 }
.strike {
  position: relative;
  margin-bottom: 0px !important; 
  margin-left: 80px;
  margin-right: 80px;
  font-size: 30px !important;
}
.strike:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 3px solid;
  border-color: #ff0800;

  -webkit-transform:rotate(-20deg);
  -moz-transform:rotate(-20deg);
  -ms-transform:rotate(-20deg);
  -o-transform:rotate(-20deg);
  transform:rotate(-20deg);
}
/* modal */
.modal-content {
  position:relative;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  border:1px solid #999;
  border:1px solid rgba(0,0,0,0.2);
  border-radius: 0px;
  outline:0;
  /*-webkit-box-shadow:0 3px 9px rgba(0,0,0,0.5);
  box-shadow:0 3px 9px rgba(0,0,0,0.5);*/
  background-clip:padding-box;
}
#szavazas h4 { font-weight: bold;}
.close { 
  color: #f1f1f1;
  opacity:.6;
  filter:alpha(opacity=60);
}
.modal-header { border-bottom: 1px solid #666;}

@media screen and (min-width:768px) {
  .modal-dialog {
    width:80%;
    margin:30px auto;
    margin-top: 60px;
  }
}

#dalnap .album-heading,
.press .album-heading {
  bottom: 0px;
  left: 0;
  padding: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  position: absolute;
  width: 100%;
  text-shadow:
    2px 2px 0 #292e42,
   -1px -1px 0 #292e42,  
    1px -1px 0 #292e42,
   -1px  1px 0 #292e42,
    1px  1px 0 #292e42;
}

#dalnap .album-heading {
  padding-bottom: 3px;
  padding-top: 3px;
  margin-bottom: 5px;
}

#dalnap .album-heading h3 { 
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.6vw; 
}

#dalnap .album-overlay .album-info {
  padding-top: 100px;
}

#dalnap .album-overlay .album-info h4 a:hover,
#dalnap .album-overlay .album-info h4 a:hover {
  color: rgb(0, 0, 0);
}

.press .album-overlay .album-info {
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    padding: 15px;
    position: absolute;
    top: 0;
    transition: all 300ms ease 0s;
    width: 100%;
}

#sajto-pages.pagination {
    float: right;
    display: table;
}

#sajto-pages.pagination li a {
    padding: 1px 10px;
    background-color: transparent;
    border-color: #ffffff;
}

#sajto-pages.pagination li:first-child a {
    border-top-left-radius:.5em;
    border-bottom-left-radius:.5em; 
}

#sajto-pages.pagination li:last-child a {
    border-top-right-radius:.5em;
    border-bottom-right-radius:.5em;
}

/* Stream */

.stream { font-size: 14px;}
.stream ul {
  padding: 0px;
}
.stream ul li:first-child,
.stream ul li:last-child
 {
  border-top: 0px;
}
.stream ul li .desc img {
  width: 100%;
}
.stream ul li {
  list-style: none;
  margin-bottom: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: 5px 0 5px 0; 
}
.stream ul li .placc {
  color: #27ae60;
  font-weight: bold;
  width: 100%;
  margin-top: 3px;
}
.stream .streamhead {
  width: 100%;
}
.stream .streamhead .time {
 padding: 0px 15px 0px 0px; 
 font-weight: bold;
 font-size: 18px;
 color: #c0392b;
}
.stream .streamhead .title {
  font-weight: bold;
  font-size: 16px
}
/* Program */

.program .nav-pills>li {
  padding: 0px;
}
/* Program szinek */

.program-pont {
   color: rgb(25, 22, 22);
   margin-bottom: 10px;
}

.program-pont p {
  font-size: smaller;
  text-align: justify;
}

.program-pont .meta {
  font-size: smaller;
  margin-top: 20px;
}

.program-pont .meta .idopont {
  font-weight: bold;
}

.program-pont .meta .szervezo {
  font-style: italic;
  margin-bottom: 15px;
}

.program-pont img {
  padding-right: 20px;
  padding-top: 20px;
}

.program-pont:nth-child(5n+1) {
  background: rgba(226, 255, 243, 0.95);
  border-left: rgb(127, 183, 255) solid 5px;
}

.program-pont:nth-child(5n+2) {
  background: rgba(255, 248, 218, 0.95);
  border-left: rgb(197, 154, 44) solid 5px;
}

.program-pont:nth-child(5n+3) {
  background: rgba(231, 255, 245, 0.9);
  border-left: rgb(56, 99, 153) solid 5px;
}

.program-pont:nth-child(5n+4) {
  background: rgba(255, 223, 254, 0.95);
  border-left: rgb(167, 20, 161) solid 5px;
}

.program-pont:nth-child(5n+0) {
  background: rgba(212, 250, 223, 0.95);
  border-left: rgb(56, 180, 71) solid 5px;
}

/* END */

.program .nav-pills>li a {
  font-size: 0.9vw;
  font-weight: bold;
}

.program .nav-stacked>li+li {
  margin-top:5px;
  margin-left:0;
}

#latest-event-content .nav-tabs>li {
  padding-right: 5px;
}
#latest-event-content .nav-tabs>li:last-child {
  padding-left: 0px;
}
#latest-event-content .nav-tabs>li>a  {
  border-radius: 0px;
  background: rgba(39, 174, 96, 0.4);
  color: #fff;
  border: 0px;
}

#latest-event-content .nav-tabs>li>a:hover {
  text-shadow: 0 0 5px #ff0000; /* dogozza */
}
#latest-event-content .nav-tabs>li.active>a {
  background: rgba(192, 57, 43, 1.0) !important;
  color: #000;
  border: 0px;
}

.program .nav-pills>li>a {
  background-color: rgba(255, 255, 255, 0.3) !important;
  color:#fff;
  border-radius: 0px;
}
.program .nav-pills>li>a:hover {
  text-shadow: 0 0 5px #ff0000; /* dogozza */
}
.program .nav-pills>li.active>a {
  color:#fff;
  background-color:#428bca !important;
}

/* program END */

#ticket a.btn { 
  border-radius: 0px;
}
.modal-header button:hover { background: transparent;}
/* youtube vid. respo */
.videoWrapper { 
 	margin-right: auto; 
 	margin-left: auto; 
 	z-index:0; 
 	margin-bottom: 10px;
}
.videoWrapper {
	position: relative; 
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* google maps respo */
.google-maps {
position: relative;
padding-bottom: 75%; // This is the aspect ratio
height: 0;
overflow: hidden;
}
.google-maps iframe {
position: absolute;
top: 0;
left: 0;
width: 100% !important;
height: 100% !important;
}

footer a {
  color: white;
}

a.white {
  color: white;
}

a.footer-fb:hover {
  color: #3B5998;
}

a.footer-tw:hover {
  color: #00acee;
}

a.footer-yt:hover {
  color: #e52d27;
}

a.footer-ig:hover {
  color: #3f729b;
}

a.footer-rss:hover {
  color: #FF6600;
}

a.footer-gplus:hover {
  color: #DD4B39;
}

#post-content img {
  width: 100%;
}

#post-content p {
  text-align: justify;
}

p.text-justified {
  text-align: justify;
}

footer img {
  opacity: 0.8;
  filter:alpha(opacity=80);
}
footer img:hover {
  opacity: 1;
  filter:alpha(opacity=100);
}
.row .col-sm-p {
  padding-top: 10px;
}
.nav > li {
  padding-bottom: 10px; 
  padding-top: 10px;
}

ul.galery > li {
  height: 100px;
  width: 100px;
  overflow: hidden;
  background-size: cover; 
  background-position: 50%;
}

ul.galery > li > a {
  height: 100px;
  line-height: 100px;
  display: block;
} 

.ticket-hidden {
  display: none;
  padding-top: 2em;
}

a.ticket-fb, a.ticket-manual {
  color: white;
}

a.ticket-fb:hover {
  color: #3B5998;
}

a.ticket-manual:hover {
  color: orange;
}

div.info-icon {
  padding-top: 15px;
  padding-bottom: 15px;
}

div.info-icon div.icon {
  float: left;
  width: 8rem;
  color: #bbbac0;
  font-size: 3.4rem;
  line-height: 7.4rem;
  text-align: center;
  border-radius: 50%;
  border: 3px solid #bbbac0;  
}

div.info-icon div.info {
  padding: 1.0rem 0 0 9rem;
}

div.info-icon div.info h3 {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

div.info-icon div.info span {
  font-size: 16px;
}

.icon-list {
  padding-left: 0px;
}
.icon-list, .icon-list li {
  list-style: none;
}
.icon-list li:before {
  font-family: 'FontAwesome';
  padding-right: 10px;
}
.icon-list li.email:before {
  content: '\f003';
}
.icon-list li.ticket:before {
  content: '\f145';
}
.icon-list li.phone:before {
  content: '\f095';
}
.icon-list li.press:before {
  content: '\f1e0';
}
.icon-list li.about:before {
  content: '\f059';
}

a.nocolor {
  color: inherit;
}

input.has-error {
  background-color: #FFCCCC;
}

@media only screen and (max-width: 1366px) {
  .program .nav-pills>li a {
  font-size: 1vw;
  font-weight: bold;
  }
}
@media only screen and (max-width: 1280px) {
  .program .nav-pills>li a {
  font-size: 1.1vw;
  font-weight: bold;
  }
}
@media only screen and (max-width: 1024px) {
  .program .nav-pills>li a {
  font-size: 1.2vw;
  font-weight: bold;
  }
}
@media only screen and (max-width: 768px) {
  .program .nav-pills>li a {
  font-size: 1vw;
  font-weight: bold;
  }
   .nav > li {
    margin-bottom: 1px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  #navigation .navbar-nav li a:hover {
    background: rgba(0, 151, 192, 0.7) !important;
    color: #fff !important;

  }
  #navigation .navbar-nav li a.active {
    background: rgba(0, 151, 192, 0.7) !important;
    color: #fff !important;
  }
  #navigation .navbar-nav li a {
    font-weight: bold !important;
    padding-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    background: rgba(0, 151, 192, 0.4);
  }

  #dalnap .album-heading h3 { 
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 5vw; 
  }
}
@media only screen and (max-width: 479px) {
  .nav > li {
    margin-bottom: 1px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  #navigation .navbar-nav li a:hover {
    background: rgba(0, 151, 192, 0.7) !important;
    color: #fff !important;

  }
  #navigation .navbar-nav li a.active {
    background: rgba(0, 151, 192, 0.7) !important;
    color: #fff !important;
  }
  #navigation .navbar-nav li a {
    font-weight: bold !important;
    padding-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    background: rgba(0, 151, 192, 0.4);
  }
}

.btn-pricing.disabled {
  background-color: red;
  pointer-events: none;
  cursor: default;
  opacity: 1;
  filter: alpha(opacity=100);
}

.extra-arak h3 {
  margin-top: 0px;
  margin-bottom: 8px;
}

.extra-arak p {
  font-size: 15px;
  margin-bottom: 3px;
}
.extra-arak span {
  font-weight: bold;
}

#dalnap .album-heading h3,
#dalnap .album-heading h4 {
  margin-bottom: 10px;
}

